@import "./vars.scss";

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

html {
  position: relative;
  background-color: $dark;
  color: $grey;
  font-family: "Jost", sans-serif;
  font-size: 16px;
}

.menu {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 500px;
  padding-bottom: 1rem;
  background: $dark;
  z-index: 100;
}

.menu.active {
  display: block;
}

.close-btn_container {
  padding: 2rem;
  text-align: end;
}

.mobile_menu-link_container {
  text-align: center;
}

.mobile_menu-link {
  display: block;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  transition: color 0.5s linear, text-decoration 0.2s linear;

  &:hover,
  &:active {
    color: $gold;
    text-decoration: underline;
  }
}

.bottom-btn {
  position: fixed;
  top: 35%;
  right: 5%;
  z-index: 99;

  a {
    padding: 2rem .5rem;
    background-color: $gold;
    writing-mode: tb-rl;
   transform:rotate(180deg);
    color: $white;
    font-size: 1.2rem;
    font-weight: 600;
  }
}

.upper_header {
  @include header-and-footer-style;
  border-bottom: 1px $gold solid;
}

.menu_btn {
  width: 3rem;
  height: 3rem;
}

.desktop_menu {
  display: none;
}

.language_toggler-container {
  margin-left: 1rem;
}

.language_toggler {
  @include select-customize;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
}

.logo-container {
  margin-left: auto;
  @include logo-container-style;
}

.upper-logo-text {
  @include upper_logo-text_style(2rem);
}

.lower-logo-text {
  @include lower_logo-text_style(1.2rem);
}

.lower_header {
  @include header-and-footer-style;
}

.location-container {
  @include flex-center;
}

.location_marker {
  width: 2rem;
  height: 2rem;
}

.location_toggler {
  width: 200px;
  @include select-customize;
  background-image: url("../../images/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 1.7rem top 50%;
  background-size: 16px auto, 100%;
  font-weight: 500;
  cursor: pointer;
}

.location_toggler::-ms-expand {
  display: none;
}

.social-container {
  margin-left: auto;
}

.instagram_logo {
  width: 2rem;
  height: 2rem;
}

.main_screen {
  position: relative;
}

.main_screen::before {
  content: " ";
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background-image: url(../../images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.main-container {
  position: relative;
  padding: 4rem 2rem;
}

.title-container {
  text-align: center;
}

.title {
  color: $gold;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.tag-line {
  font-size: 1.1rem;
}

.description-container {
  margin: 0.5rem 0;
  text-align: center;
}

.work_hours-container {
  @include flex-center;
}

.work_hours-description {
  margin-left: 0.25rem;
  text-align: center;
}

.right {
  width: 70%;
  margin: 0 auto;
  margin-top: 2rem;
}

.custom-btn {
  display: block;
  margin-bottom: 0.75rem;
  padding: 0.25rem 1.75rem;
  background-color: $gold;
  border-radius: 4px;
  color: $white;
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
}

.price_screen,
.location_screen,
.barber_screen {
  padding: 1rem 2rem;
  border-bottom: 1px $gold solid;
  text-align: center;
}

.screen-title {
  font-size: 2rem;
  color: $gold;
}

.price-table {
  width: fit-content;
  margin: 0 auto;
  border-collapse: collapse;
  border-style: hidden;
  text-align: center;
  margin-top: 0.25rem;

  td {
    padding: 0.3rem 0.15rem;
    border: 2px $gold solid;
  }
}

.locations-container {
  margin-top: 0.5rem;
}

.location {
  @include flex-center;
}

.location_marker-big {
  width: 6rem;
  height: 6rem;
}

.location-address {
  display: block;
  color: $gold;
}

.location-phone {
  display: block;
  padding: 0.25rem;
}

.barber {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  @include flex-center;
}

.barber-photo {
  width: 130px;
  height: 120px;
  border-radius: 50%;
}

.barber-description {
  margin-left: 0.5rem;
}

.barber-name {
  font-size: 1.5rem;
  font-weight: 600;
}

.barber-position {
  color: $gold;
  font-weight: 500;
}

.footer {
  @include header-and-footer-style;
  justify-content: space-between;
}

.copyright {
  text-align: center;
  font-size: 0.6rem;
}

.footer_logo {
  @include logo-container-style;
}

.footer-upper-logo-text {
  @include upper_logo-text_style(1.2rem);
}

.footer-lower-logo-text {
  @include lower_logo-text_style(0.75rem);
}

@media screen and (min-width: $mobile) {
  html {
    font-size: 18px;
  }

  .location_toggler {
    background-position: right 0.5rem top 50%;
  }

  .bottom-btn {
    right: 3%;
  }
}

@media screen and (min-width: $tablet) {
  html {
    font-size: 20px;
  }

  .menu_btn-container {
    display: none;
  }

  .desktop_menu {
    display: block;
  }

  .bottom-btn {
    right: 2%;
  }

  .upper_header {
    justify-content: space-evenly;
    padding: 1rem 6rem;
  }

  .desktop_menu-link {
    font-weight: 600;
    @include hover_and_transition_style;
  }

  .language_toggler {
    transition: color 0.3s linear;

    &:hover {
      color: $gold;
    }
  }

  .logo-container {
    margin-left: 0rem;
  }

  .location_toggler {
    background-position: right 0 top 50%;
    background-size: 12px auto, 100%;
    transition: color 0.3s linear;

    &:hover {
      color: $gold;
      background-image: url("../../images/arrow-hover.svg");
    }
  }

  .lower_header {
    padding: 1rem 10rem;
  }

  .main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8rem 12rem;
  }

  .phone-btn {
    display: none;
  }

  .right {
    width: 35%;
    margin: 0;
  }

  .custom-btn {
    @include opacity_hover_and_transition_style;
  }

  .price-table {
    td {
      padding: 0.5rem 0.75rem;
    }
  }

  .locations-container {
    display: flex;
    justify-content: space-around;
  }

  .copyright {
    font-size: 0.8rem;
  }

  .location-address {
    @include opacity_hover_and_transition_style;
  }

  .location-phone {
    @include hover_and_transition_style;
  }

  .creator_link {
    @include hover_and_transition_style;
  }

  .instagram_logo {
    @include opacity_hover_and_transition_style;
  }
}



.swiper-button-prev, .swiper-button-next{
  color: $gold !important; 
}

.swiper-pagination-bullet-active {
  background-color: $gold !important; 
}