@import "./vars.scss";
@import "./help_buttons.scss";
@import "./upper_header.scss";
@import "./lower_header.scss";
@import "./main_screen.scss";
@import "./price_screen.scss";
@import "./location_screen.scss";
@import "./barber_screen.scss";
@import "./footer.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  --swiper-navigation-sides-offset: 15px;
  --swiper-navigation-color: #{$gold-color};
  --swiper-pagination-color: #{$gold-color};
  --swiper-pagination-bullet-size: 10px;
  --swiper-pagination-bullet-width: 10px;
  --swiper-pagination-bullet-height: 10px;
  --swiper-pagination-bullet-inactive-color: #{$content-color};
  --swiper-pagination-bullet-inactive-opacity: 1;
}

html {
  font-family: $content-font;
  font-size: $font-size;
  color: $content-color;
  background-color: $background-color;
}

ul {
  list-style: none;
}

button {
  border: 0;
  background: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: opacity 0.3s linear;

  &:hover {
    opacity: 0.8;
  }
}

h1,
h2 {
  margin: 0;
  padding: 0;
  color: $gold-color;
  font-weight: 700;
  text-transform: uppercase;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

@media screen and (min-width: $tablet) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: $desktop) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }
}
