@import "./vars.scss";

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

html {
  position: relative;
  background-color: $dark;
  color: $grey;
  font-family: "Jost", sans-serif;
  font-size: 16px;
}

.menu {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 500px;
  padding-bottom: 1rem;
  background: $dark;
  z-index: 100;
}

.menu.active {
  display: block;
}

.close-btn_container {
  padding: 2rem;
  text-align: end;
}

.mobile_menu-link_container {
  text-align: center;
}

.mobile_menu-link {
  display: block;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  transition: color 0.5s linear, text-decoration 0.2s linear;

  &:hover,
  &:active {
    color: $gold;
    text-decoration: underline;
  }
}

.right-btn {
  position: fixed;
  top: 20%;
  right: 4%;
  z-index: 99;

  a {
    padding: 2rem 0.5rem;
    background-color: $gold;
    writing-mode: tb-rl;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    color: $white;
    font-size: 1.1rem;
    font-weight: 700;
    box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
    animation: pulse 2s infinite;
    border-radius: 10px;

    &:hover {
      animation: none;
    }
  }
}

.upper_header {
  @include header-and-footer-style;
  border-bottom: 1px $gold solid;
}

.menu_btn {
  width: 3rem;
  height: 3rem;
}

.desktop_menu {
  display: none;
}

.language_toggler-container {
  margin-left: 1rem;
}

.language_toggler {
  @include select-customize;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
}

.logo-container {
  margin-left: auto;
  @include logo-container-style;
}

.upper-logo-text {
  @include upper_logo-text_style(2rem);
}

.lower-logo-text {
  @include lower_logo-text_style(1.2rem);
}

.lower_header {
  @include header-and-footer-style;
}

.location-container {
  @include flex-center;
}

.location_marker {
  width: 2rem;
  height: 2rem;
}

.location_toggler {
  @include select-customize;
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
}

.location_toggler::-ms-expand {
  display: none;
}

[tooltip] {
  position: relative;
}

[tooltip]::before,
[tooltip]::after {
  text-transform: none;
  font-size: 0.9em;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
}

[tooltip]::before {
  content: "";
  border: 5px solid transparent;
  z-index: 1001;
}

[tooltip]::after {
  content: attr(tooltip);
  text-align: center;
  font-weight: 700;
  min-width: 3rem;
  max-width: 21rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.2rem 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 1rem 2rem -0.5rem $gold_with_opacity;
  background: $gold;
  color: $white;
  z-index: 1000;
}

.show_tooltip[tooltip]::before {
  display: block;
  animation: tooltips-vert 300ms ease-out forwards;
}

.show_tooltip[tooltip]::after {
  display: block;
  animation: tooltips-vert 300ms ease-out forwards, pulse 2s infinite;
}

[tooltip=""]::before,
[tooltip=""]::after {
  display: none !important;
}

[tooltip][flow^="down"]::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: $gold;
}
[tooltip][flow^="down"]::after {
  top: calc(100% + 5px);
}
[tooltip][flow^="down"]::before,
[tooltip][flow^="down"]::after {
  left: 50%;
  transform: translate(-50%, 0.5em);
}

@keyframes tooltips-vert {
  to {
    opacity: 0.9;
    transform: translate(-50%, 0);
  }
}

[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
  animation: tooltips-vert 300ms ease-out forwards;
}

.social-container {
  margin-left: auto;
}

.instagram_logo {
  width: 2.5rem;
  height: 2.5rem;
}

.main_screen {
  position: relative;
}

.main_screen::before {
  content: " ";
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background-image: url(../images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.main-container {
  position: relative;
  padding: 4rem 2rem;
}

.title-container {
  text-align: center;
}

.title {
  color: $gold;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.tag-line {
  font-size: 1.1rem;
}

.description-container {
  margin: 0.5rem 0;
  text-align: center;
}

.work_hours-container {
  @include flex-center;
}

.work_hours_marker {
  width: 2rem;
  height: 2rem;
}

.work_hours-description {
  margin-left: 0.25rem;
  text-align: center;
}

.right {
  width: fit-content;
  margin: 0 auto;
  margin-top: 2rem;
}

.custom-btn {
  display: block;
  margin-bottom: 0.75rem;
  padding: 0.25rem 1.75rem;
  background-color: $gold;
  border-radius: 4px;
  color: $white;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}

.price_screen,
.location_screen,
.barber_screen {
  padding: 1rem;
  border-bottom: 1px $gold solid;
  text-align: center;
}

.screen-title {
  font-size: 2rem;
  color: $gold;
}

.price-table {
  width: fit-content;
  margin: 0 auto;
  border-collapse: collapse;
  border-style: hidden;
  text-align: center;
  margin-top: 0.25rem;

  td {
    padding: 0.3rem 0.15rem;
    border: 2px $gold solid;
  }
}

.locations-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 0.5rem;
}

.location {
  @include flex-center;
}

.location_marker-big {
  width: 6rem;
  height: 6rem;
}

.location-address {
  display: block;
  color: $gold;
}

.location-phone {
  display: block;
  padding: 0.25rem;
}

.barber {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  padding: 1rem;
  @include flex-center;
}

.barber-photo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.barber-description {
  margin-left: 0.5rem;
}

.barber-name {
  font-size: 1.5rem;
  font-weight: 600;
}

.barber-position {
  color: $gold;
  font-weight: 500;
}

.footer {
  @include header-and-footer-style;
  justify-content: space-between;
}

.copyright {
  text-align: center;
  font-size: 0.6rem;
}

.footer_logo {
  @include logo-container-style;
}

.footer-upper-logo-text {
  @include upper_logo-text_style(1.2rem);
}

.footer-lower-logo-text {
  @include lower_logo-text_style(0.75rem);
}

@media screen and (min-width: $mobile) {
  html {
    font-size: 18px;
  }

  .right-btn {
    top: 5%;
    right: 2%;

    a {
      font-size: 0.9rem;
    }
  }

  .location_toggler {
    font-size: 1rem;
  }

  .barber-photo {
    width: 150px;
    height: 150px;
  }

  .barber-description {
    margin-left: 1rem;
  }
}

@media screen and (min-width: $tablet) {
  html {
    font-size: 20px;
  }

  .menu_btn-container {
    display: none;
  }

  .desktop_menu {
    display: block;
  }

  .right-btn {
    top: 30%;
    right: 1%;

    a {
      @include opacity_hover_and_transition_style;
      font-size: 1rem;
    }
  }

  .upper_header {
    justify-content: space-evenly;
    padding: 1rem 6rem;
  }

  .desktop_menu-link {
    font-weight: 600;
    @include hover_and_transition_style;
  }

  .language_toggler {
    transition: color 0.3s linear;

    &:hover {
      color: $gold;
    }
  }

  .logo-container {
    margin-left: 0rem;
  }

  .location_toggler {
    font-size: 0.9rem;
    transition: color 0.3s linear;

    &:hover {
      color: $gold;
    }
  }

  [tooltip]:hover::before,
  [tooltip]:hover::after {
    display: block;
  }

  .lower_header {
    padding: 1rem 10rem;
  }

  .main-container {
    padding: 8rem 12rem;
  }

  .phone-btn {
    display: none;
  }

  .right {
    width: 35%;
    margin: 0 auto;
    margin-top: 3rem;
  }

  .custom-btn {
    @include opacity_hover_and_transition_style;
  }

  .price-table {
    td {
      padding: 0.5rem 0.75rem;
    }
  }

  .locations-container {
    display: flex;
    justify-content: space-around;
  }

  .copyright {
    font-size: 0.8rem;
  }

  .barber-photo {
    width: 200px;
    height: 200px;
  }

  .barber-description {
    margin-left: 1rem;
  }

  .location-address {
    @include opacity_hover_and_transition_style;
  }

  .location-phone {
    @include hover_and_transition_style;
  }

  .creator_link {
    @include hover_and_transition_style;
  }

  .instagram_logo {
    @include opacity_hover_and_transition_style;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 $gold_with_opacity;
  }
  70% {
    -webkit-box-shadow: 0 0 0 25px $gold_with_zero_opacity;
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 $gold_with_zero_opacity;
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 $gold_with_opacity;
    box-shadow: 0 0 0 0 $gold_with_opacity;
  }
  70% {
    -moz-box-shadow: 0 0 0 25px $gold_with_zero_opacity;
    box-shadow: 0 0 0 25px $gold_with_zero_opacity;
  }
  100% {
    -moz-box-shadow: 0 0 0 0 $gold_with_zero_opacity;
    box-shadow: 0 0 0 0 $gold_with_zero_opacity;
  }
}

.swiper-button-prev,
.swiper-button-next {
  color: $gold !important;
}

.swiper-pagination-bullet-active {
  background-color: $gold !important;
}
