@import "https://fonts.googleapis.com/css2?family=Jost:wght@400;700&family=Peddana&display=swap";

// Responce width for devices
$mobile: 320px;
$tablet: 743px;
$desktop: 1439px;

// Color palette variables
$content-color: rgba(239, 240, 244, 0.5);
$gold-color: #9f7150;
$gold-color-with-opacity: rgba(159,113,80, 0.4);
$gold-color-with-no_opacity: rgba(159,113,80, 0);
$background-color: #252525;
$white-color: #ffffff;

// Font variables
$content-font: "Jost", sans-serif;
$logo-font: "Charter", "Peddana", serif;

// Font size variable
$font-size: 16px;

// Gap variable
$gap: 10px;

// Custom fonts for Logo
@font-face {
  font-family: "Charter";
  src: url(../fonts/eot/charter_regular.eot) format("eot"),
    url(../fonts/woff/charter_regular.woff) format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Charter";
  src: url(../fonts/eot/charter_bold.eot) format("eot"),
    url(../fonts/woff/charter_bold.woff) format("woff");
  font-weight: 700;
  font-display: swap;
}

@mixin select-customize {
  appearance: none;
  user-select: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  background-color: inherit;
  border: 0;
  color: inherit;
  outline-style: none;
  cursor: pointer;
}
